<h1 class="page_title">Edit topic</h1>
<%- form_for [@category, @topic] do |form| -%>
  <%= render 'shared/error_messages', :target => @topic %>
  <ul id="new-topic">
    <%= render form %>
    <li class="block submit">
      <%= form.submit 'Create', :disable_with => 'Creating topic...', :class => "awesome small black" %>
      or <%= link_to 'cancel', [@category, @topic] %>
    </li>
  </ul>
<%- end -%>
</div>
