<li class="block">
  <%= form.label :name %>
  <%= form.text_field :name, :class => "text" %>
</li>
<li class="block">
  <%= form.label :description %>
  <%= form.text_field :description, :class => "text" %>
</li>